.contenedor{
    width: 500px;
    height: 500px;
    position: relative;
}
.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chiste{
    font-family: fantasy;
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    color: white;
    bottom: 0;
    text-align: center;
    -webkit-text-stroke: 2px black;
}