.contenedorChiste {
  height: 65vh;
  position: relative;
  display: flex;
  justify-content: center;
  border: 10px solid rgba(103, 58, 183, 0.6);
  box-shadow: 1 -2px 4px rgba(0, 0, 0, 0.1);
}
.imagen {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.chiste {
  font-size: 177%;
  font-family: fantasy;
  font-weight: 500;
  position: absolute;
  color: white;
  bottom: 0;
  -webkit-text-stroke: 1px black;
}

.herramientas {
  position: absolute;
  top: 0;
  right: 0;
}
