@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Archivo Black', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
  color: #f9e46e; 
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

header {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header i {
  font-size: 2.5rem;
  margin-right: 10px;
}

header h1 {
  font-size: 3rem;
  margin: 0;
  display: flex;
  align-items: center;
}

.gatitos {
  font-size: 2rem; 
  margin-right: 10px; 
  margin-left: 10px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.boton-chiste {
  font-size: 1.6rem;
  padding: 8px 15px; 
  background: linear-gradient(45deg, rgba(103, 58, 183, 0.8), rgba(103, 58, 183, 0.6));
  color: #f9e46e;
  margin-top: 20px;
  cursor: pointer;
  max-width: 250px;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
}

.boton-chiste:hover {
  background-image: linear-gradient(45deg, rgba(39, 19, 73, 0.8), rgba(84, 47, 150, 0.6));  
}

footer {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, rgba(103, 58, 183, 0.8), rgba(103, 58, 183, 0.6)); 
  align-items: center;
  margin-top: auto;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer a i {
  font-size: 2.8rem;
  color: #000000;
  margin-right: 10px;
}

footer img {
  width: 120px;
  height: 32px;
  object-fit: contain;
}

.newGatoAndJoke {
  width: 100%;
  padding: 15px;
  background: linear-gradient(45deg, rgba(103, 58, 183, 0.8), rgba(103, 58, 183, 0.6));
  color: f9e46e;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}